@model DACN.Models.NewsLetter

@{
    ViewBag.Title = "DeleteNL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa Mail</h2>

<h3>Bạn có thực sự muốn xóa Mail này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dt>
            Mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở Về Danh Sách", "NewsLetter")
        </div>
    }
</div>
