@model IEnumerable<DACN.Models.TinTuc>
@{
    ViewBag.Title = "Tintheoloai";
    Layout = "~/Views/Shared/_TrangChu3.cshtml";
}

<br />
<h2 style="text-align:center">TIN TỨC THEO THỂ LOẠI</h2>
@foreach (var tt in Model)
{
    <div class="col-sm-3 col-lg-6 col-md-3">
        <div class="thumbnail">
            <a href="@Url.Action("Chitiettintuc","Store",new { id = tt.idTT})">
                <img alt="@tt.TieuDe" src="~/HinhTT/@tt.Anhbia" style="width:300px" />
                <div>
                    <br />
                    <h4 style="text-align:center">
                        @tt.TieuDe
                    </h4>
                </div>
            </a>
        </div>
    </div>
}

