
@{
    ViewBag.Title = "FailureDH";
    Layout = "~/Views/Shared/_TrangChu2.cshtml";
}

<br />
<h1 style="text-align:center; color:red">THÔNG BÁO</h1>
<h2 style="text-align:center">Xin chào @Session["TaiKhoan"], đơn hàng của khách hàng đã được tiếp nhận và đang trong quá trình thực hiện</h2>
<p>
    @Html.ActionLink("Về Trang Chủ", "Sanpham", "MainStore")
</p>

