
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="~/Content/DangNhapAdminCSS/fonts/icomoon/style.css" rel="stylesheet" />
    <link href="~/Content/DangNhapAdminCSS/css/owl.carousel.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="~/Content/DangNhapAdminCSS/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Style -->
    <link href="~/Content/DangNhapAdminCSS/css/style.css" rel="stylesheet" />
    <title>Đăng Nhập</title>
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img src="~/Icons/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Đăng nhập vào <strong>Shree</strong></h3>
                                <p class="mb-4">Đăng nhập vào hệ thống của Shree để thực hiện mua hàng trên Website.</p>
                            </div>
                            @using (Html.BeginForm())
                            {
                                <form action="#" method="post">
                                    <div class="form-group last mb-4">
                                        <h4 style="color:red; text-align:center">@ViewBag.Thongbao</h4>
                                    </div>

                                    <div class="form-group first">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" name="TaikhoanKH">
                                        @ViewData["Loi1"]
                                    </div>
                                    <div class="form-group last mb-4">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" name="MatkhauKH">
                                        @ViewData["Loi2"]
                                    </div>

                                    <div class="d-flex mb-5 align-items-center">
                                        <label class="control control--checkbox mb-0">
                                            <span class="caption">Ghi nhớ</span>
                                            <input type="checkbox" checked="checked" />
                                            <div class="control__indicator"></div>
                                        </label>
                                        <span class="ml-auto"><a href="#" class="forgot-pass">Quên Mật Khẩu</a></span>
                                        <span class="ml-auto"><a href="@Url.Action("Dangky","KhachHang")" class="forgot-pass">Đăng Ký</a></span>
                                    </div>

                                    <input type="submit" value="Đăng Nhập" class="btn text-white btn-block btn-primary">

                                    <span class="d-block text-left my-4 text-muted"> Đăng nhập bằng</span>

                                    <div class="social-login">
                                        <a href="#" class="facebook">
                                            <span class="icon-facebook mr-3"></span>
                                        </a>
                                        <a href="#" class="twitter">
                                            <span class="icon-twitter mr-3"></span>
                                        </a>
                                        <a href="#" class="google">
                                            <span class="icon-google mr-3"></span>
                                        </a>
                                    </div>
                                </form>
                            }

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script src="~/Scripts/DangNhapAdminJS/js/bootstrap.min.js"></script>
    <script src="~/Scripts/DangNhapAdminJS/js/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/DangNhapAdminJS/js/main.js"></script>
    <script src="~/Scripts/DangNhapAdminJS/js/popper.min.js"></script>

</body>
</html>
